<div class="info">
    <div class="input-group m-1rem">
        <input type="text" name="" id="">
    </div>
    <div class="flex warp">
        <% if ( locals.store ) {%>
            <% for( item in store ){ %>
                <div class="card card-hovable">
                    <div class="label">
                        <p><%= store[item].name %></p>
                    </div>
                    <div class="desp">
                        <p><%= store[item].data.desp %> </p>
                    </div>
                    <div class="action">
                        <p class="btn success" onclick="buy('<%= store[item]._id %> ')">BUY <%= store[item].data.value %>$</p>
                    </div>
                </div>
            <% } %>  
        <% } else {%>
            <%-/* include('../error', {msg: 'storeerror'}) */ %> 
        <% } %>   
    </div>
</div>